@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: var(--cream);
  display: flex;
  align-items: center;
  justify-content: center;
}